<h1 class="center">fitness Data for
    <%= fitness.title %>
  </h1>
  
  <table class="table">
    <tr>
      <th>Title</th>
      <td>
        <%= fitness.title %>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <%= fitness.description%>
      </td>
    </tr>
    <tr>
      <th>Max Students</th>
      <td>
        <%= fitness.maxStudents%>
      </td>
    </tr>
    <tr>
      <th>Cost</th>
      <td>$
        <%= fitness.cost%>
      </td>
    </tr>
  </table>
  
  
  <div>
    <a class="button" href="<%=`/fitnesses/${fitness._id}/edit`%>">
      Edit Course Details
    </a>
  </div>
  <div>
    <a class="button" href="<%= `/fitnesses/${fitness._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
  </div>
  <div>
    <a class="button" href="/fitnesses">View all fitnesse</a>
  </div>
  